mixin footer
    #Footer.ui.fluid.container
        .ui.container.centered.grid
            .row
                .ui.six.wide.column.center.aligned
                    .ui.list
                        h2 Project Info
                        a.item(href="/about") About
                        a.item(href="/contact") Contact 
                        a.item(href="https://www.themoviedb.org/?language=en-US") TMDB
                        a.item(href="https://www.themoviedb.org/documentation/api") API
                .ui.four.wide.column.center.aligned
                    img.ui.fluid.image(src="/images/wawwlogo.png")
                .ui.six.wide.column.center.aligned
                    .ui.list
                        h2 Personal
                        a.item(href="https://github.com/Dylan-Oleary") GitHub
                        a.item(href="https://github.com/Dylan-Oleary/entertainment-vault") Project Repository
