include ../partials/removeButton.pug
include ./cardModal.pug

mixin listCard(movie)
    - const poster = `https://image.tmdb.org/t/p/original/${movie.poster_path}`
    - const releaseYear = movie.release_date.substring(0,4)
    
    #ListViewCard
        .list-view-image-container.blur
            if movie.poster_path
                img.ui.fluid.image(src=poster)
            else 
                img.ui.fluid.image(src="/images/case-white.svg")
            #CardModal
                form(action=(`/movies`), method="POST")
                    if movie._id
                        input(type="hidden" name="movie[_id]", required, value=(movie._id))
                    input(type="hidden" name="movie[tmdb_id]", required, value=(movie.id))
                    input(type="hidden" name="movie[title]", required, value=(movie.title))
                    input(type="hidden" name="movie[poster_path]", required, value=(movie.poster_path))
                    input(type="hidden" name="movie[release_date]", required, value=(movie.release_date))
                    input(type="hidden" name="movie[overview]", required, value=(movie.overview))

                    button.ui.button.medium.inverted(type="submit")
                        span See More
                if movie._id
                    +removeButton(movie, path) 
            //- +cardModal(movie, path)

        .list-view-card-content
            h2= `${movie.title} (${releaseYear})`
