include ./search.pug

mixin nav
    #NavBar
        .ui.secondary.menu
            .ui.container.grid
                .row
                    a.item(href='/') Home
                    if isAuthenticated
                        .ui.dropdown.item
                            span.text My Lists
                            i.dropdown.icon
                            .menu
                                a.item(href="/users/watchlist") My Watch List
                                a.item(href="/users/rated") Rated
                                a.item(href="/users/favourites") Favourites
                    #SearchBar.item
                        +search
                    if !isAuthenticated
                        a.item(href="/users/new") Register
                        a.item(href="/login") Login
                    if isAuthenticated
                        .ui.inline.dropdown.item
                            img.ui.avatar.image(src="/images/pink-blue-circle.svg")
                            span.username= sessionUserName
                            i.dropdown.icon
                            .menu
                                a.item(href="/users/account") My Account
                                span#Logout.item Log Out
                                form#LogoutForm(action="/logout", method="POST")
                                    input.item(type="submit")
