mixin nav
    ul.ui.secondary.pointing.menu
        li.item
            a(href='/') Home
        li.item
            a(href='/movies') Movies
        li.item
            a(href='/search') Search For A Movie