mixin removeButton(movie, path)
    form(action=(`/users${path.slug}`), method="POST")
        input(type="hidden", name="movie[id]", value=`${movie._id}`)
        input(type="hidden", name="movie[title]", value=`${movie.title}`)
        input(type="hidden", name="movie[remove]", value="remove")

        button.ui.button.medium.inverted(type="submit")
            span= `Remove from ${path.formattedSlug}`
