mixin search
    .ui.container
        form.ui.big.form(action=("/movies/confirm"), method="POST")
            h4.ui.dividing.header Search
            .required.field
                label Enter Search
                .field
                    input(type="text" name="movie[title]", required,  autocomplete="off")
            
            .form-group
                button.btn.btn-dark(type="submit") Submit