mixin search
    form#SearchBar.ui.input(action="/movies/confirm", method="POST")
        i.search.icon
        input.prompt(type="text" name="movie[title]", required, placeholder="Search for a movie..." autocomplete="off")