mixin search
    form.ui.icon.input(action="/movies/confirm", method="POST")
        input.prompt(type="text" name="movie[title]", required, placeholder="Search Movies" autocomplete="off")
        i.search.icon