include ../partials/nav.pug
include ../partials/flash.pug
block globals

doctype html
html(lang="en")
    head
        link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css')
    title= (title ? title : "I do not have a title yet!")

    body
        +nav
        +flash(flash)
        block content

        script(src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js')
        script(src='js/index.js')