extends ../layouts/main.pug
include ../partials/movieCard.pug

block content
    .ui.container
        header
            h1= `We found ${movies.length} results`

        #SearchList
            each movie in movies
                +movieCard(movie)