extends ../layouts/main.pug
include ../partials/movieCard.pug
include ../partials/actionButton.pug

block content
  .ui.container
    header
      h1= title

    #CardList
      each movie in movies
        +movieCard(movie)

