extends ../layouts/main.pug
include ../partials/listCard.pug
include ../partials/actionButton.pug

block content
  .ui.container
    header
      h1= title

    #ListView
      each movie in movies
        +listCard(movie)

