extends ../layouts/main.pug

block globals
    - title = "My About page"

block content
    header.ui.container
        h1= title
        p My name is Dylan and this is a small blurb about me. What really constitutes small? Just my name? I have two dogs and I think I'm a better guitar player than I actually am