extends ../layouts/main.pug

block globals
    - title = "My Contact page"

block content
    header.ui.container
        h1= title
        p You can contact me at dylaneamusic@gmail.com or shoot me a text at 647-yeah-right