form.ui.form(action=(user ? `/users/update` : "/users"), method="POST")
  if user
    input(type="hidden", name="id", value=user.id)

  h2= user ? "Update your account information" : "Register for a What Are We Watching? account!"

  .form-image-container
    img.ui.fluid.image(src="/images/pink-blue-circle.svg")

  .field
    label Name
    .two.fields
      .field
        input.form-control(name="user[firstName]", required, value=(user ? user.firstName : null), placeholder="First Name")
      .field
        input.form-control(name="user[lastName]", required, value=(user ? user.lastName : null), placeholder="Last Name")

  .field
    .two.fields
      .field
        label E-mail
        input.form-control(name="user[email]", required, value=(user ? user.email : null), placeholder="jessepinkman@example.com")
      .field
        label Username
        input.form-control(name="user[username]", required, value=(user ? user.username : null), placeholder="Username")

  .field
    label Password
    input.form-control(name="user[password]", type="password", required, value=(user ? user.password : null))

  .field
    label Confirm Password
    input.form-control(name="user[passwordConfirmation]", required, type="password", value=(user ? user.passwordConfirmation : null))
  
  button.ui.button(type="submit") Submit